body {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: url('./images/audience.jpg') center bottom;
  background-size: cover;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;
}

.key {
  width: 120px;
  height: 100px;
  margin: 0px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid black;
  border-radius: 8px;
  text-align: center;
  transition: all 0.1s ease;
  line-height: 1.5;
}

.key kbd {
  display: block;
  color: white;
  font-size: 3.8rem;
}

.key span {
  color: yellow;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.playing {
  border: 5px solid goldenrod;
  box-shadow: 0 0 10px 4px goldenrod;
  transform: scale(1.1);
}
